---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-resource-driver
  namespace: kube-system
spec:
  chartRef:
    kind: OCIRepository
    name: intel-gpu-resource-driver
  interval: 1h
  values:
    cdi:
      staticPath: /var/cdi/static
      dynamicPath: /var/cdi/dynamic
