---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tuppr
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./kubernetes/apps/system-upgrade/tuppr/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: talos-cluster
  targetNamespace: system-upgrade
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tuppr-upgrades
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: tuppr
  interval: 1h
  path: ./kubernetes/apps/system-upgrade/tuppr/upgrades
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: talos-cluster
  targetNamespace: system-upgrade
  timeout: 5m
  wait: false
