apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: &name postgres-superuser
    namespace: database
spec:
    refreshInterval: 15m
    secretStoreRef:
        kind: ClusterSecretStore
        name: bitwarden-secrets-manager
    target:
      name: *name
      template:
        engineVersion: v2
        metadata:
          annotations:
            reloader.stakater.com/match: "true"
          labels:
            cnpg.io/reload: "true"
        data:
          username: "{{ .username }}"
          password: "{{ .password }}"
    dataFrom:
      - extract:
          key: *name
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: &name cloudnative-pg-secret
    namespace: database
spec:
    refreshInterval: 15m
    secretStoreRef:
        kind: ClusterSecretStore
        name: bitwarden-secrets-manager
    target:
      name: *name
      template:
        engineVersion: v2
        metadata:
          annotations:
            reloader.stakater.com/match: "true"
          labels:
            cnpg.io/reload: "true"
        data:
          aws-access-key-id: "{{ .aws_access_key_id }}"
          aws-secret-access-key: "{{ .aws_secret_access_key }}"
    dataFrom:
      - extract:
          key: *name
