---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator-crds
  namespace: database
spec:
  interval: 15m
  chart:
    spec:
      chart: mariadb-operator-crds
      version: 25.10.4
      sourceRef:
        kind: HelmRepository
        name: mariadb
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: false
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values: {}
