apiVersion: k8s.mariadb.com/v1alpha1
kind: Grant
metadata:
  name: pterodactyl
spec:
  mariaDbRef:
    name: mariadb
  privileges:
    - "ALL PRIVILEGES"
  database: "*"
  table: "*"
  username: pterodactyl
