---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  interval: 15m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.21.6
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
  dependsOn:
    - name: openebs
      namespace: storage
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /spec/containers/resources/limits
        target:
          kind: Pod
  values:
    crds:
      create: true

    monitoring:
      podMonitorEnabled: false
      grafanaDashboard:
        create: true

    resources:
      limits:
        memory: 200Mi
      requests:
        cpu: 25m
        memory: 100Mi

    podAnnotations:
      reloader.stakater.com/search: "true"
