# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.0
            env:
              # Application
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_URL: "https://paperless.ewatkins.dev"
              PAPERLESS_PORT: &port 8000
              PAPERLESS_TIME_ZONE: America/Chicago
              PAPERLESS_WEBSERVER_WORKERS: "2"
              PAPERLESS_TASK_WORKERS: "2"
              # Folder Importer
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              # Database
              PAPERLESS_DBENGINE: postgresql
              # Remote User Auth
              PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "false"
              # Folders
              PAPERLESS_CONSUMPTION_DIR: /data/nas/consume
              PAPERLESS_DATA_DIR: /data/nas/data
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /data/nas/media
              # OCR
              PAPERLESS_OCR_LANGUAGES: nld
              PAPERLESS_OCR_LANGUAGE: nld
              # Redis
              PAPERLESS_REDIS: "redis://dragonfly.database.svc.cluster.local:6379"
              # User Permissions
              USERMAP_GID: "65542"
            envFrom:
              - secretRef:
                  name: "paperless-db-secret"
              - secretRef:
                  name: "paperless-config-secret"
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 2048Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.ewatkins.dev"
        hosts:
          - host: paperless.ewatkins.dev
            paths: &paths
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      nas:
        enabled: true
        type: nfs
        server: caspian.local
        path: /mnt/user/paperless
        globalMounts:
          - path: /data/nas
