---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
  namespace: &namespace media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      jellyfin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_FFmpeg__probesize: 50000000
              JELLYFIN_FFmpeg__analyzeduration: 50000000
              JELLYFIN_PublishedServerUrl: "https://jellyfin.ewatkins.dev"
              JELLYFIN_CONFIG_DIR: /etc/jellyfin
              JELLYFIN_DATA_DIR: /var/lib/jellyfin
              JELLYFIN_CACHE_DIR: /var/cache/jellyfin
              TZ: ${TIMEZONE}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 4Gi
        pod:
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: jellyfin
          securityContext:
            seccompProfile:
              type: RuntimeDefault
            runAsNonRoot: true
            runAsUser: 99
            runAsGroup: 100
            fsGroup: 100
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 44
              - 105
              - 10000
    service:
      app:
        controller: *app
        annotations:
          io.cilium/lb-ipam-ips: "10.30.4.12"
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 8096
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.ewatkins.dev"
        hosts:
          - host: "jellyfin.ewatkins.dev"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: jellyfin-config
        globalMounts:
          - path: /etc/jellyfin
      data:
        enabled: true
        existingClaim: jellyfin-data
        globalMounts:
          - path: /var/lib/jellyfin
      media:
        enabled: true
        type: nfs
        server: caspian.local
        path: /mnt/user/arrdata
        globalMounts:
          - path: /mnt/arrdata
      transcode:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /transcode
      cache:
        enabled: true
        existingClaim: jellyfin-cache
        globalMounts:
          - path: /var/cache/jellyfin
