---
originRequest:
  originServerName: "external.ewatkins.dev"

ingress:
  - hostname: "ewatkins.dev"
    service: https://envoy-external.network.svc.cluster.local:443
  - hostname: "*.ewatkins.dev"
    service: https://envoy-external.network.svc.cluster.local:443
  - service: http_status:404
