---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml

  # Flux-Kustomizations
  # Postgres
  - ./cloudnative-pg/ks.yaml

  # Redis
  - ./dragonfly/ks.yaml
  - ./redisinsight/ks.yaml

  #- ./emqx/ks.yaml
