---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forgejo
spec:
  interval: 2h
  chart:
    spec:
      chart: forgejo
      version: 16.2.0
      sourceRef:
        kind: HelmRepository
        name: forgejo
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    deployment:
      annotations:
        secret.reloader.stakater.com/reload: forgejo-admin-secret,forgejo-mailer,forgejo-security,forgejo-db-init
    strategy:
      type: Recreate
    service:
      http:
        port: 3000
      ssh:
        port: 22
    ingress:
      enabled: true
      className: internal
      annotations:
        external-dns.alpha.kubernetes.io/target: "internal.ewatkins.dev"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      hosts:
        - host: &host git.ewatkins.dev
          paths:
            - path: /
              pathType: Prefix
    persistence:
      enabled: true
      create: false
      claimName: forgejo-config-pvc
    redis-cluster:
      enabled: false
    postgresql-ha:
      enabled: false
    postgresql:
      enabled: false
    valkey-cluster:
      enabled: false

    gitea:
      admin:
        existingSecret: forgejo-admin-secret
      # See https://docs.gitea.io/en-us/config-cheat-sheet/
      config:
        APP_NAME: Forgejo
        server:
          ROOT_URL: https://git.ewatkins.dev
          SSH_PORT: 22
          SSH_LISTEN_PORT: 22
          OFFLINE_MODE: true
        security:
          existingSecret: forgejo-security
        service:
          ALLOW_ONLY_EXTERNAL_REGISTRATION: true
          DISABLE_REGISTRATION: false
        database:
          DB_TYPE: postgres
        repository:
          DEFAULT_PRIVATE: private
        ui:
          DEFAULT_THEME: gitea-dark
        cache:
          ENABLED: true
          ADAPTER: redis
          HOST: redis://dragonfly.database.svc.cluster.local:6379/0?pool_size=100&idle_timeout=180s
        openid:
          ENABLE_OPENID_SIGNIN: false
          ENABLE_OPENID_SIGNUP: false
        mailer:
          ENABLED: true
          SMTP_ADDR: "${SECRET_SMTP_HOST}"
          SMTP_PORT: "${SECRET_SMTP_PORT}"
          USER: "${SECRET_SMTP_USER}"
          PASSWD: "${SECRET_SMTP_PWD}"
          FROM: "Forgejo <forgejo@ewatkins.dev>"
        migrations:
          ALLOWED_DOMAINS: "*.ewatkins.dev"
        queue:
          TYPE: redis
          CONN_STR: redis://dragonfly.database.svc.cluster.local:6379/0?pool_size=100&idle_timeout=180s
        session:
          PROVIDER: redis
          PROVIDER_CONFIG: redis://dragonfly.database.svc.cluster.local:6379/0?pool_size=100&idle_timeout=180s
        storage:
          STORAGE_TYPE: minio
          MINIO_USE_SSL: true
          MINIO_ENDPOINT: s3.ewatkins.dev:443
          MINIO_BUCKET: forgejo
          MINIO_LOCATION: us-east-1
          MINIO_INSECURE_SKIP_VERIFY: false
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
  valuesFrom:
    # Database Secret
    - kind: Secret
      name: &dbSecret forgejo-db
      valuesKey: POSTGRES_HOST
      targetPath: gitea.config.database.HOST
    - kind: Secret
      name: *dbSecret
      valuesKey: POSTGRES_DBNAME
      targetPath: gitea.config.database.NAME
    - kind: Secret
      name: *dbSecret
      valuesKey: POSTGRES_USER
      targetPath: gitea.config.database.USER
    - kind: Secret
      name: *dbSecret
      valuesKey: POSTGRES_PASS
      targetPath: gitea.config.database.PASSWD

      # Storage
    - kind: Secret
      name: &forgejoBucket forgejo-bucket
      valuesKey: MINIO_ACCESS_KEY_ID
      targetPath: gitea.config.storage.MINIO_ACCESS_KEY_ID
    - kind: Secret
      name: *forgejoBucket
      valuesKey: MINIO_SECRET_ACCESS_KEY
      targetPath: gitea.config.storage.MINIO_SECRET_ACCESS_KEY
