apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb
spec:
  rootPasswordSecretKeyRef:
    name: mariadb-root-secret
    key: password

  replicas: 3
  replication:
    enabled: true
  storage:
    size: 5Gi
    storageClassName: openebs-hostpath
