---
# Note: Gatus vars should be escaped with $${VAR_NAME} to avoid interpolation by Flux
web:
  port: $${WEB_PORT}
storage:
  type: postgres
  path: postgres://$${INIT_POSTGRES_USER}:$${INIT_POSTGRES_PASS}@$${INIT_POSTGRES_HOST}:5432/$${INIT_POSTGRES_DBNAME}?sslmode=disable
  caching: true
metrics: true
debug: false
ui:
  title: Status | Talos Cluster
  header: Status
  logo: https://raw.githubusercontent.com/kubernetes/kubernetes/master/logo/logo_with_border.svg
  link: https://github.com/ewatkins/talos-cluster
alerting:
  pushover:
    title: Gatus
    application-token: $${PUSHOVER_TOKEN}
    user-key: $${PUSHOVER_USER_KEY}
    priority: 1
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 5
      success-threshold: 2
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
endpoints:
  - name: status
    group: external
    url: https://status.ewatkins.dev
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: pushover
  - name: flux-webhook
    group: infrastructure
    url: https://$${SECRET_FLUX_WEBHOOK_URL}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[STATUS] == 404"
    alerts:
      - type: pushover
  - name: internet
    group: infrastructure
    url: ${SECRET_INTERNET_PING_URL}
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    ui:
      hide-hostname: true
      hide-url: true
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*OK*)"
