apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: &name cluster-secrets
    namespace: flux-system
spec:
    refreshInterval: 15m
    secretStoreRef:
        kind: ClusterSecretStore
        name: bitwarden-secrets-manager
    target:
      name: *name
      template:
        engineVersion: v2
        data:
          SECRET_INTERNET_PING_URL: "{{ .SECRET_INTERNET_PING_URL }}"
          SECRET_FLUX_WEBHOOK_URL: "{{ .SECRET_FLUX_WEBHOOK_URL }}"
          SECRET_ACME_EMAIL: "{{ .acme_email }}"
          SECRET_CLOUDFLARE_TUNNEL_ID: "{{ .TUNNEL_ID }}"
          SECRET_SMTP_HOST: "{{ .email_host }}"
          SECRET_SMTP_PORT: "{{ .email_port }}"
          SECRET_SMTP_USER: "{{ .email_username }}"
          SECRET_SMTP_PWD: "{{ .email_password }}"
          SECRET_NOTIFIARR_URL: "{{ .SECRET_NOTIFIARR_URL }}"
    dataFrom:
      - extract:
          key: gatus-secret
      - extract:
          key: flux-webhook
      - extract:
          key: smtp
      - extract:
          key: cloudflared-secret
      - extract:
          key: cert-manager-secret
      - extract:
          key: notifiarr-secret
