apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: &name github-webhook-token-secret
    namespace: flux-system
spec:
    refreshInterval: 15m
    secretStoreRef:
        kind: ClusterSecretStore
        name: bitwarden-secrets-manager
    target:
      name: *name
      template:
        engineVersion: v2
        data:
          token: "{{ .token }}"
    dataFrom:
      - extract:
          key: *name
