apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: &name notifiarr-secret
    namespace: media
spec:
    refreshInterval: 15m
    secretStoreRef:
        kind: ClusterSecretStore
        name: bitwarden-secrets-manager
    target:
      name: *name
      template:
        engineVersion: v2
        data:
          DN_API_KEY: "{{ .DN_API_KEY }}"
          DN_UI_PASSWORD: "{{ .DN_UI_PASSWORD }}"

          DN_PROWLARR_0_NAME: "{{ .DN_PROWLARR_0_NAME }}"
          DN_PROWLARR_0_URL: "{{ .DN_PROWLARR_0_URL }}"
          DN_PROWLARR_0_API_KEY: "{{ .DN_PROWLARR_0_API_KEY }}"

          DN_RADARR_0_NAME: "{{ .DN_RADARR_0_NAME }}"
          DN_RADARR_0_URL: "{{ .DN_RADARR_0_URL }}"
          DN_RADARR_0_API_KEY: "{{ .DN_RADARR_0_API_KEY }}"

          DN_SONARR_0_NAME: "{{ .DN_SONARR_0_NAME }}"
          DN_SONARR_0_URL: "{{ .DN_SONARR_0_URL }}"
          DN_SONARR_0_API_KEY: "{{ .DN_SONARR_0_API_KEY }}"

          DN_SABNZBD_0_NAME: "{{ .DN_SABNZBD_0_NAME }}"
          DN_SABNZBD_0_URL: "{{ .DN_SABNZBD_0_URL }}"
          DN_SABNZBD_0_API_KEY: "{{ .DN_SABNZBD_0_API_KEY }}"
    dataFrom:
      - extract:
          key: *name
