---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: envoy-proxy-internal
  namespace: network
spec:
  provider:
    type: Kubernetes
    kubernetes:
      envoyDeployment:
        replicas: 1
        container:
          resources:
            requests:
              cpu: 100m
            limits:
              memory: 256Mi
      envoyService:
        annotations:
          io.cilium/lb-ipam-ips: "${INTERNAL}"
          external-dns.alpha.kubernetes.io/hostname: "internal.ewatkins.dev"
