---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vpa
spec:
  interval: 15m
  chart:
    spec:
      chart: *app
      version: 4.4.6
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    recommender:
      enabled: true

      image:
        repository: registry.k8s.io/autoscaling/vpa-recommender
        tag: "1.1.2"

      extraArgs:
        storage: prometheus
        prometheus-address: |-
          http://thanos-query-frontend.observability.svc.cluster.local:10902
        prometheus-cadvisor-job-name: kubelet
        pod-label-prefix: ""
        pod-namespace-label: namespace
        pod-name-label: pod
        container-pod-name-label: pod
        container-name-label: name

      resources:
        requests:
          cpu: 23m
          memory: 105Mi
        limits:
          memory: 105Mi

    # checks which of the managed pods have correct resources set and, if required,
    # kills them so that they can be recreated by their controllers with the updated requests
    updater:
      enabled: false

    # sets the correct resource requests on new pods
    # (newly created or recreated by their controller due to Updater's activity)
    admissionController:
      enabled: false

    annotations:
      reloader.stakater.com/search: "true"
